:root {
  --color-primary: #624892;
  --color-secondary: #C02C47;
  --color-terciary: #ffd15c;;
  --color-extra: #ffa32a;
  --color-background:  #26212c;
  --color-cardback:  #2e243b;
  --color-buttonhover: #ff4c60;
  --color-text: #ffffff;
  --color-barguide: #3a3442;
  --color-border: rgb(10, 10, 10);
  --color-cardborder: #ccb6be;
  --color-section-border: rgba(255, 255, 255, 0.1);
}

/* ESTILOS GENERALES */
* {
  box-sizing: border-box;
}

.fas, .far {
  color: var(--color-terciary);
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--color-text);
  margin: 0px;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: var(--color-text);
}

a:hover {
  color: var(--color-terciary);
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /*Con esta propiedas ocultamos el contenido que se va fuera del viewport */
}

.title {
  font-size: 28px;
}

.section-title {
  padding: 38px 0px;
 }

button {
  background-color: var(--color-secondary);
  border-style: none;
  height: 42px;
  border-radius: 21px;
  text-align: center;
  color: var(--color-text);
  font-size: 16px;
  font-family: inherit;
  font-weight: lighter;
}

button:hover {
  background-color: var(--color-buttonhover);
}

button:hover > a {
  color: var(--color-text);
}

.container {
  position: relative;
  padding: 60px 55px;
  max-width: 1080px;
}


/* NAVBAR */
.navbar-container__mobile {
  display: none;
}

.navbar-content {
  position: relative;
  top: 60px;
  left: 50px;
}


.navbar-container__desktop {
  min-width: 290px;
  max-width: 290px;
  border-right: solid 1px var(--color-section-border);
  background-color: var(--color-background);
}

.full-container {
  overflow-y: scroll; /*Con esta propiedas logramos que el eje y de nuestra pagina sea scrolleable */
  scroll-behavior: smooth; /*Con esta propiedas logramos que las anclas de nuestra pagina se vean "suavizadas"*/
  width: 100%;
  height: 100%;
  background-color: var(--color-background) ;
}

::-webkit-scrollbar {
  display: none;  /* Esta línea oculta las barras de desplazamiento, tanto horizontal como lateral, de manera de aprovechar la totalidad del ViewPort */
}

.navbar-content-list {
  width: 289px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  align-items: space-around;
  justify-content: flex-start;
  padding: 103px 0px 0px 0px;
  margin: 0px;
}

.navbar-links {
  padding-left: 28px;
}

.list_items {
  margin: 8px 0px;
}


/* BANNER */
.banner-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  height: 100%;
  width: 101%;
  background-image: url("../imagenes/fondo.svg");
  position: absolute;
  background-size: cover;
  z-index: 0;
  left: -3px;
}

.banner-info-container {
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.banner__title {
  padding-top: 60px;
  margin: 0px;
}

.banner-container__scroll {
  position: absolute;
  bottom: 26px;
}

.avatar {
  width: 108px;
  height: 108px;
}

.banner-info-container__social-media {
  width: 180px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner__sub-title {
  font-size: 18px;
  padding: 9px 0px 14px 0px;
}

.fab{
  font-size: 25px;
  color: var(--color-text);
}

.fab:hover {
  color: var(--color-terciary);
}

.banner-info-container__button {
  margin-top: 24px;
  width: 140px;
}

.banner-container__scroll {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.banner-container__scroll-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  color: var(--color-terciary);
  padding-bottom: 8px;
  color: var(--color-text);
}

.scroll-mouse {
  height: 25px;
  width: auto;
}

.fa-angle-down {
  color: var(--color-text);
}

.banner-container__scroll-link:hover > .fa-angle-down {
  position: relative;
  top: 3px;
}

/* ABOUT ME */

.about_me-avatar {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.about_me-info-container {
  display:flex;
}

.about_me-info-container-box {
  padding: 30px;
  background-color: var(--color-cardback);
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px;
  width: 680px;
  max-height: 240px;

}

.about_me-info-container-box-description {
  max-width: 45%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_me-description {
  margin: 0px;
}

.go-to-cv__button {
  width: 162px;
  margin-top: 20px;
}

.about_me-info-container-box-cards {
  width: 45%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.guide-bar {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--color-barguide);
  margin-top: 15px;
}

.html-bar {
  height: 100%;
  width: 60%;
  background-color: var(--color-terciary);
  border-radius: 4px;
}

.css-bar{
  height: 100%;
  width: 65%;
  background-color: var(--color-secondary);
  border-radius: 4px;
}

.javascript-bar{
  height: 100%;
  width: 20%;
  background-color: var(--color-primary);
  border-radius: 4px;
}

/* SKILLS */
.skills-card-container {
  display: flex;
  column-gap: 52px;
}

.skills-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  width: 30%;
  border: 1px solid var(--color-cardborder);
}

.skills-card > p, .skills-card >span {
  color: black;
  text-align: center;
}

.card-title {
  padding: 22px;
  font-size: 18px;
}

.card-description {
  margin: 0px;
}

.card-img {
  height: 70px;
  width: auto;
  border: 3px solid var(--color-border);
  padding: 5px;
  border-radius: 8px;
}

.skills-card1 {
  background-color: var(--color-extra);
}

.skills-card2 {
  background-color: var(--color-secondary);
}

.skills-card3 {
  background-color: var(--color-primary);
}


/*EXPERIENCE*/

.experience-container__info {
  display: flex;
  column-gap: 20px;
}

.experience-container__topics {
  padding: 30px;
  background-color: var(--color-cardback);
  border-radius: 20px;
  box-shadow: 0 0 1px 0;
  width: 49%;
}


.experience-container__topics__card__data {
  padding: 0 0 50px 50px;
  border-left: 1px solid var(--color-terciary);
  position: relative;
}

.experience-container__topics__card__data {
  padding: 0 0 50px 50px;
  border-left: 1px solid var(--color-terciary);
  position: relative;
}

.experience-container__topics__card__data > .fa-graduation-cap {
  position: absolute;
  left: -10px;
  top: -3px;
  background-color: var(--color-cardback);
  padding: 2px 0px;
}

.experience-container__topics__card__data > .fa-toolbox {
  position: absolute;
  left: -8px;
  top: -4px;
  background-color: var(--color-cardback);
  padding: 2px 0px;
}

.experience-container__topics__card__data__date {
  font-size: 14px;
}

.experience-container__topics__card__data__title {
  font-size: 18px;
}


/* WORKS */
.works-container__topics {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 50px;
  row-gap: 20px;
}

.works-container__topics__card {
  padding: 30px;
  width: 29%;
  background-color: var(--color-text);
  border-radius: 15px;
  box-shadow: 0 0 5px 0;
  position: relative;
}

.works-container__topics__card > img {
  height: 160px;
  width: 100%;
}

.works-container__topics__card__mask {
  background: #6c6ce5;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  opacity: 0; /*Con esta propiedad le cambiamos la transparencia a nuestas cajas*/
  box-sizing: content-box;
}

.works-container__topics__card__mask > span {
  font-size: 28px;
  position: relative;
  top: 20px;
  left: 20px;
}

.works-container__topics__card:hover > .works-container__topics__card__mask {
  opacity: 0.9;
}

.works__view-more-button {
  width: 120px;
  margin-top: 20px;
}

.back-to-index {
  background-color: var(--color-background);
}

.back-to-index:hover {
  background-color: var(--color-background);
}

.works__view-more-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
} 

/* CONTACTME */
.contact_me-container__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-cardback);
  border-radius: 15px;
  box-shadow: 0px 0px 1px 0px;
  padding: 15px;
}

.contact_me-container__info__description {
  width: 30%;
  height: 100%;
  text-align: justify;
}

.contact_me-container__info__description >span {
font-size: 18px;
}

.contact_me-container__info__description >i {
  font-size: 14px;
  padding-top: 80px;
  color: var(--color-cardborder)
}
  
.contact_me-container__info__form {
  width: 55%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

input {
  height: 30px;
  width: 48%;
}

label {
  display: none;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

input, textarea {
  border-radius: 15px;
  font-family: inherit;
  padding: 15px;
  border-style: none;
}

.formSubmitButton {
  width: 120px;
  margin-top: 20px;
}

/* FOOTER */

.page-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--color-section-border);
  margin: auto;
}

footer .fab {
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .container {
    max-width: initial;
    width: 100%;
  }

  .navbar-container__desktop {
    display: none;
  }

  .navbar-container__mobile {
    display: block;
    background-color: var(--color-background);
  }

  .navbar-input,
  .navbar-close {
    display: none;
  }
  
  .navbar-input:checked ~ .navbar-close {
    display: block;
  }
  
  .navbar-input:checked ~ .navbar-open {
    display: none;
  }

  .navbar-content {
    display: none;
  }
  
  .navbar-input:checked ~ .navbar-content {
    display: flex;
  }
}
